@CHARSET "UTF-8";
html {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif; 
/*   background-color:/*; */
   
}

a {

color: #669;

text-decoration: none;

}

a:hover {

text-decoration: underline;

}

h1 {

font: bold 50px ;
text-align: center; 

}
h2 {
    text-align:center;
}
h3{
    font-size:30px;
}
h4{
    font-size:25px;
    text-align:center;
}

#navlist li {

display: inline;

list-style-type: none;

}


.error{

color:red;

}

.smallFont{

font-size: 0.7em;

}


/************************************************************************************

STRUCTURE

*************************************************************************************/

#pagewrap {

padding: 5px;

width: 960px;

margin: 20px auto;

}

header {

height: 180px;

/* background-color: #660066; */
}
#headersmall {
    height: 90px;
}

#content {

width: 600px;

float: left;

}

#sidebar {

width: 300px;

float: right;

}

footer {

clear: both;

}

/************************************************************************************

MEDIA QUERIES

*************************************************************************************/

/* for 980px or less */

@media screen and (max-width: 980px) {

#pagewrap {

width: 94%;

}

#content {

width: 65%;

}

#sidebar {

width: 30%;

}

#navlist li {

display: inline;

}

}

/* for 750px or less */

@media screen and (max-width: 750px) {#content {

width: auto;

float: none;

}

#sidebar {

width: auto;

float: none;

}

#navlist li {

display: block;

margin:10px;

}

#navlist a {

padding: 3px 10px;

border: solid 1px #ccc;

}

#navlist a:link, #navlist a:visited{

display: block;

margin-left:auto;

margin-right:auto;

width:200px;



}

}

/* for 550px or less */

@media screen and (max-width: 550px) {

header {

height: auto;

}

h1 {

font-size: 24px;
text-align: center; 
}
#sidebar{

display: none;

}

footer {

display: none;

}

}

/* border & guideline*/

#content {

background: #f8f8f8;

}

#sidebar {

background: #f0efef;

}

header, #headersmall, #content, #sidebar, nav {

margin-bottom: 5px;

}

#pagewrap, header, #headersmall, #content, #sidebar, footer, nav {

border: solid 1px #ccc;

padding: 5px;

}

/*navigation*/

ul#navlist {

margin-left: 0;

padding-left: 0;

white-space: nowrap;

}

#navlist a {

padding: 3px 10px;
}

#navlist a:link, #navlist a:visited {

color: #000;

/* background-color: #660066; */

text-decoration: none;

}

#navlist a:hover {

color: #fff;

background-color: #000;

text-decoration: none;

}